/* =======================================
   --------------- COMMON ----------------
   ======================================= */


* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Arial, sans-serif;
}

/*
body {
	background: grey;
}
*/

.c {
	display: block;
	width: 1000px;
	margin: 0 auto;
}

header {
	display: block;
	height: 80px;
	margin: 0 auto;
	background: #fff;
}

	header #logo {
		display: inline-block;
		width: 237px;
		height: 80px;
		background: url('../img/adhunter.png') left center no-repeat;
	}

	header ul {
		display: inline-block;
		width: 750px;
		margin-top: 15px;
		list-style: none;
		text-align: right;
		vertical-align: top;
	}

		header ul li {
			display: inline-block;
			padding: 15px;
		}

			header ul li a {
				color: #222;
				font-family: 'Cabin Condensed', sans-serif;
				font-size: 20px;
				text-decoration: none;
			}

footer {
	padding: 10px 0;
	color: #222;
	font-size: 16px;
}


/* =======================================
   ------------ LANDING PAGE -------------
   ======================================= */


.app {
	height: 500px;
	background: url('../img/super.jpg');
	background-size: cover;
}

	.app .image {
		float: left;
		width: 500px;
		height: 500px;
		background: url('../img/handphone.png') right 50px no-repeat;
		background-size: cover;
	}

	.app .text {
		float: right;
		width: 450px;
		height: 450px;
		padding-top: 50px;
		color: #fff;
	}

		.app .text h1 {
			font-family: 'Cabin Condensed', sans-serif;
			font-size: 70px;
		}
		
		.app .text p {
			margin-top: 50px;
			font-size: 25px;
		}

		.app .text .download {
			display: inline-block;
			width: 178px;
			height: 62px;
			margin-top: 50px;
			background: url('../img/icon-google-play.png') center center no-repeat;
		}

.features {
	padding-bottom: 30px;
	background: #FFF;
}

	.features .column {
		display: inline-block;
		width: 33%;
		padding-top: 150px;
		text-align: center;
		vertical-align: top;
	}

	.features .column.i1 {
		/* background-image: url('../img/'); */
	}

	.features .column.i1 {
		/* background-image: url('../img/'); */
	}

	.features .column.i1 {
		/* background-image: url('../img/'); */
	}

		.features .column h1 {
			margin-bottom: 10px;
			color: #222;
			font-size: 20px;
			font-weight: bold;
		}

		.features .column p {
			color: #222;
			font-size: 14px;
			line-height: 20px;
		}


/* =======================================
   ---------------- MAP ------------------
   ======================================= */


#map {
	position: absolute;
	width: 100%;
	top: 80px;
	bottom: 0;
}

#panel {
	position: absolute;
	left: 10px;
	top: 80px;
	z-index: 1;
	padding-top: 10px;
}

	#panel > * {
		display: inline-block;
		border: 1px #aaa solid;
		background-color: #fed265;
		color: #fff;
		font-size: 20px;
		text-decoration: none;
	}

	#panel > a {
		padding: 5px;
	}

	#panel > a:hover {
		background-color: #fff;
		color: #fed265;
	}

	#panel > input[type="text"] {
		width: 600px;
		height: 36px;
		padding: 0 5px;
		background-color: #fff;
		color: #444;
		opacity: 0.75;
	}

	#panel > input[type="text"]:hover,
	#panel > input[type="text"]:focus {
		opacity: 1.0;
	}

#add-form {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	display: none;
	width: 400px;
	margin-left: -205px;
	margin-top: -100px;
	padding: 5px;
	border: 1px solid #aaa;
	background-color: #ddd;
}

	#add-form h2 {
		margin: 10px 0;
		padding-top: 10px;
		border-top: 1px #999 dashed;
		color: #222;
		font-size: 16px;
	}
	
	#add-form .center {
		display: inline-block;
		width: 350px;
		margin: 10px 0 0 25px;
		text-align: center;
	}

		#add-form .center img,
		#add-form .center [type="radio"] {
			display: inline-block;
			width: 64px;
		}

	#add-form [name="text"] {
		width: 160px;
	}

	#add-form select,
	#add-form textarea,
	#add-form input[type="submit"] {
		border: 1px #bbb solid;
		background: #eee;
		color: #444;
		font-size: 12px;
	}

	#add-form select {
		width: 150px;
		margin: 10px 0 5px 0;
		padding: 5px 10px;
	}

	#add-form textarea {
		width: 300px;
		margin-bottom: 15px;
		padding: 5px 10px;
	}

	#add-form input[type="submit"] {
		width: auto;
		padding: 5px 10px;
	}

#info-content {
	display: none;
}


/* =======================================
   ---------- LOGIN / REGISTER -----------
   ======================================= */


.default-form {
	padding: 150px 0;
	background: url('../img/super.jpg');
	background-size: cover;
	color: #fff;
	text-align: center;
}

	.default-form h1 {
		font-family: 'Cabin Condensed', sans-serif;
		font-size: 70px;
	}

	.default-form input {
		display: inline-block;
		width: 280px;
		border: 1px #fff solid;
		margin: 0 0 10px 0;
		padding: 5px 10px;
		background: transparent;
		color: #fff;
	}

	.default-form input:first-child {
		margin-top: 30px;
	}

	.default-form input[type=submit] {
		width: 300px;
		background: #fff;
		color: #444;
	}

	.default-form input[type=submit]:hover {
		background: #eee;
	}