/* =======================================
   --------------- COMMON ----------------
   ======================================= */


* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Arial, sans-serif;
}

html {
	height: 100%;
}

body {
	position: relative;
	min-height: 100%;
}

body.regular {
	background-image: url('../img/header_regular.png'), url('../img/background_regular.png');
	background-repeat: no-repeat, repeat;
	background-position: center 80px, center center;
	background-color: #091624;

}

body.landing {
	height: 100%;
}

.c {
	display: block;
	max-width: 1200px;
	margin: 0 auto;
}

header {
	display: block;
	height: 80px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.05);
}

body.landing header {
	background: #091624;
}

	header a {
		font-family: 'Cabin Condensed', sans-serif;
		font-size: 16px;
		text-decoration: none;
		text-transform: uppercase;
		color: #091624;
	}

	body.landing header a {
		color: #fff;
	}

	header .c {
		position: relative;
	}

		header #logo {
			display: inline-block;
			width: 237px;
			height: 80px;
			background: url('../img/logo-dark.png') left center no-repeat;
		}

		body.landing header #logo {
			background: url('../img/logo-light.png') left center no-repeat;
		}

		header #toggle {
			position: absolute;
			top: 15px;
			right: 0;
			padding: 15px;
			display: none;
		}

		header ul {
			position: absolute;
			z-index: 2;
			top: 15px;
			right: 0;
			list-style: none;
			text-align: right;
			vertical-align: top;
		}

			header ul li {
				display: inline-block;
				padding: 15px;
			}

			header ul li.logout a {
				color: #8a0202;
			}

			.landing header ul li.logout a {
				color: #e10000;
			}

footer {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	padding: 10px 0;
	background-color: #091624;
	color: #fff;
	font-size: 16px;
	text-align: center;
}

	footer a {
		color: #8a0202;
		text-decoration: underline;
	}

	footer a:hover {
		text-decoration: none;
	}

body.landing footer {
	position: relative;
	bottom: auto;
}


/* =======================================
   ------------ LANDING PAGE -------------
   ======================================= */


.app {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 600px;
}

	.app .fixed {
		width: 100%;
		height: 100%;
		background: url('../img/background.png');
		background-size: cover;
		position: fixed;
	}

		.app .fixed > .c {
			position: relative;
			top: 80px;
			height: 100%;
			text-align: center;
		}

			.app .slideshow {
				position: absolute;
				left: 10px;
				bottom: 160px;
				width: 490px;
				height: 580px;
				background: url('../img/hand.png') center no-repeat;
			}

				.app .slideshow > img {
					display: none;
					position: absolute;
					left: 180px;
					top: 61px;
				}

				.app .slideshow > img.current {
					display: block;
				}

			.app .text {
				position: absolute;
				left: 520px;
				bottom: 360px;
				width: 450px;
				color: #fff;
				font-size: 25px;
				text-align: left;
			}

				.app .text h1 {
					display: inline;
					line-height: 80px;
					margin-top: 0;
					padding: 5px 15px;
					background: #091624;
					font-family: 'Cabin Condensed', sans-serif;
					font-size: 70px;
				}
				
				.app .text p {
					margin-top: 20px;
					padding: 5px 15px;
					background: #091624;
				}

				.app .text .download {
					display: inline-block;
					width: 178px;
					height: 62px;
					margin-top: 50px;
					background: url('../img/icon-google-play.png') center center no-repeat;
				}

.features {
	position: relative;
	padding-bottom: 30px;
	background: #434f5c;
	box-shadow: 0 -5px 10px 5px rgba(0, 0, 0, 0.25);
	text-align: center;
}

	.features .column {
		display: inline-block;
		width: 300px;
		margin: 0 10px;
		padding: 80px 0;
		vertical-align: top;
	}

		.features .column img {
			box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.25);
		}

		.features .column h1 {
			margin-bottom: 10px;
			color: #fff;
			font-size: 20px;
			font-weight: bold;
		}

		.features .column p {
			color: #fff;
			font-size: 14px;
			line-height: 20px;
		}

.content_regular {
	overflow: hidden;
}

	.content_regular > h1 {
		display: block;
		margin-top: 100px;
		text-align: center;
	}

		.content_regular > h1 span {
			display: inline-block;
			padding: 5px 25px;
			background: #091624;
			color: #fff;
			font-size: 48px;
		}

	.content_regular > .content {
		max-width: 1200px;
		margin: 100px auto;
		background: #fff;
		box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
	}

		.content_regular > .content nav.profile {
			float: left;
			width: 299px;
			background: #fafafa;
		}

			.content_regular > .content nav.profile ul {
				display: block;
				padding: 20px;
				padding-bottom: 0;
				list-style: none;
			}

			.content_regular > .content nav.profile ul.admin {
				padding-top: 10px;
				padding-bottom: 20px;
			}

				.content_regular > .content nav.profile ul li a {
					display: block;
					padding: 10px;
					text-decoration: none;
					transition: background-color 0.2s;
				}

				.content_regular > .content nav.profile ul.admin li a {
					color: #025F8A;
				}

				.content_regular > .content nav.profile ul li a:hover,
				.content_regular > .content nav.profile ul li a.current {
					background: #8a0202;
					color: #fff;
				}

				.content_regular > .content nav.profile ul.admin li a:hover,
				.content_regular > .content nav.profile ul.admin li a.current {
					background: #025F8A;
					color: #fff;
				}

		.content_regular > .content .profile_content {
			float: left;
			display: block;
			max-width: 860px;
			padding: 20px;
			border-left: 1px #c0c0c0 solid;
		}

			.content_regular > .content .profile_content #compare {
				width: 100%;
				margin-top: 20px;
			}

				.content_regular > .content .profile_content #compare .verdicts {
					margin-top: 20px;
					border-top: 1px #e0e0e0 solid;
					text-align: center;
				}

					.content_regular > .content .profile_content #compare .verdicts a {
						display: inline-block;
						margin: 20px 5px 0;
						padding: 10px 20px;
						color: #fff;
						text-decoration: none;
						background-color: #eaeaea;
						color: #000;
					}

					.content_regular > .content .profile_content #compare .verdicts a.t:hover {
						background-color: #007C00;
						color: #fff;
					}

					.content_regular > .content .profile_content #compare .verdicts a.f:hover {
						background-color: #8A0202;
						color: #fff;
					}

					.content_regular > .content .profile_content #compare .verdicts a.n:hover {
						background-color: #d0d0d0;
					}

				.content_regular > .content .profile_content #compare .note {
					display: block;
					border-top: 1px #e0e0e0 solid;
					margin-top: 20px;
					padding-top: 10px;
				}
				
				.content_regular > .content .profile_content #compare .left,
				.content_regular > .content .profile_content #compare .right {
					max-width: 410px;
					margin: 10px;
					text-align: center;
					background: #fff;
					box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
				}

					.content_regular > .content .profile_content #compare .left img,
					.content_regular > .content .profile_content #compare .right img {
						display: block;
						width: 100%;
					}

				.content_regular > .content .profile_content #compare .left {
					float: left;
				}

				.content_regular > .content .profile_content #compare .right {
					float: right;
				}

			.content_regular > .content .profile_content .info {
				display: block;
				margin-bottom: 10px;
				padding: 10px;
				background: #daf3c5;
				border: 1px solid #a0c97e;
			}

			.content_regular > .content .profile_content fieldset {
				max-width: 835px;
				padding: 10px;
				border: 1px #d0d0d0 solid;
			}

			.content_regular > .content .profile_content .field_descr {
				display: inline-block;
				min-width: 150px;
				margin: 5px;
			}

				.content_regular > .content .profile_content .field_descr .error {
					font-weight: bold;
					color: #FF0000;
				}

			.content_regular > .content .profile_content input {
				display: inline-block;
				width: 300px;
				height: 20px;
				margin: 5px 0;
				padding: 5px;
				border: 1px #d0d0d0 solid;
			}

			.content_regular > .content .profile_content input[type="submit"] {
				width: auto;
				height: 30px;
				margin: 5px 0;
				padding: 5px;
			}

			.content_regular > .content .profile_content table td {
				/**/
			}

				.content_regular > .content .profile_content table td,
				.content_regular > .content .profile_content table th {
					border: 1px #d0d0d0 solid;
					padding: 6px 10px;
				}

				.content_regular > .content .profile_content table th {
					background: #f0f0f0;
				}

		.content_regular > .content .clear {
			display: block;
			clear: left;
		}

		.content_regular > .content p {
			padding: 20px;
		}

		.content_regular > .content a {
			color: #8a0202;
			text-decoration: underline;
		}

		.content_regular > .content a:hover {
			text-decoration: none;
		}


/* =======================================
   ---------------- MAP ------------------
   ======================================= */

#panel {
	background: #fff;
	/*background: rgba(255,255,255,.6);*/
	position: absolute;
	left: 0;
	right: 0;
	top: 80px;
	z-index: 1;
	padding: 5px 10px;
}

	#panel input[type="text"] {
		width: 440px;
		height: 36px;
		padding: 0 5px;
		border: 1px #aaa solid;
		background-color: #fff;
		color: #444;
		opacity: 0.75;
	}

	#panel input[type="text"]:hover,
	#panel input[type="text"]:focus {
		opacity: 1.0;
	}

	#panel .right {
		border: 1px #aaa solid;
		font-size: 20px;
		text-decoration: none;
		padding: 5px;
		float: right;
	}

	#panel a.right {
		background-color: #091624;
		color: #fff;
	}

	#panel span.right {
		font-size: 12px;
		line-height: 26px;
	}

	#panel #mine {
		margin-right: 5px;
	}

	#panel #add:hover,
	#panel #mine.clicked,
	#panel span.right {
		background-color: #fff;
		color: #091624;
	}

#map {
	position: absolute;
	width: 100%;
	top: 135px;
	bottom: 0;
}

	#map img.billboard {
		margin: 0 auto;
		width: auto;
	}

	#map .info {
		margin-left: 15px;
	}

		#map .info > .options {
			display: none;
			padding: 10px 0;
		}

			#map .info > .options a {
				display: inline-block;
				padding: 5px 10px;
				border: 1px #c0c0c0 solid;
				background: #f0f0f0;
				color: #000;
				text-decoration: none;
			}

			#map .info > .options a:hover {
				background: #fafafa;
			}

		#map .info > .notices {
			display: none;
			padding: 10px 0;
			color: #ff0000;
		}

		#map .type img {
			max-width: 64px;
			height: auto;
			display: none;
		}

			#map .info .form {
				display: none;
			}

a.close {
	position: absolute;
	right: 10px;
	top: 5px;
	text-decoration: none;
	color: #000;
}

.sidebar {
	display: none;
	position: absolute;
	left: 70%;
	top: 80px;
	bottom: 0;
	width: 30%;
	background: #fafafa;
	overflow-y: scroll;
}

	.sidebar > * {
		margin: 0 5%;
	}

	.sidebar h2 {
		margin: 20px 0;
		color: #333;
		font-size: 22px;
		text-align: center;
	}

		#merge-sidebar .billboards > .billboard {
			margin-top: 10px;
			padding-top: 10px;
			border-top: 1px #999 dashed;
		}

		#merge-sidebar .billboards > .billboard:first-child {
			border-top: 0;
		}

			#merge-sidebar .billboards > .billboard img {
				float: left;
				max-width: 50%;
				margin-right: 5px;
			}

			#merge-sidebar .billboards > .billboard .line {
				display: block;
				margin-bottom: 5px;
				font-size: 12px;
			}

			#merge-sidebar .billboards > .billboard .line.input {
				margin-bottom: 10px;
				padding: 5px 0;
				background: #f0f0f0;
				text-transform: uppercase;
			}

				#merge-sidebar .billboards > .billboard .line.input input {
					position: relative;
					top: 3px;
					margin-right: 10px;
				}

			#merge-sidebar .billboards > .billboard .clear {
				display: block;
				clear: left;
			}

	#merge-sidebar .merge {
		display: block;
		opacity: 0;
		border-top: 1px #999 dashed;
		margin-top: 10px;
		background: #f0f0f0;
		padding: 10px 0px;
		border-bottom: 1px #dadada solid;
		color: #333;
		font-size: 14px;
		text-align: center;
		text-decoration: none;
	}

		#merge-sidebar .merge:hover {
			background: #f5f5f5;
		}

#add-form {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	display: none;
	width: 350px;
	margin-left: -175px;
	margin-top: -100px;
	padding: 5px;
	border: 1px solid #aaa;
	background-color: #ddd;
}

	#add-form h2 {
		margin: 10px 0;
		padding-top: 10px;
		border-top: 1px #999 dashed;
		color: #222;
		font-size: 16px;
	}
	
	.form .center {
		width: 350px;
		margin-top: 10px;
		text-align: center;
	}

		.form .center img,
		.form .center [type="radio"] {
			display: inline-block;
			width: 52px;
			height: auto;
		}

	#add-form [name="text"] {
		width: 160px;
	}

	.form select,
	.form textarea,
	.form input[type="button"],
	.form input[type="submit"] {
		border: 1px #bbb solid;
		background: #eee;
		color: #444;
		font-size: 12px;
	}

	.form select {
		width: 150px;
		margin: 10px 0 5px 0;
		padding: 5px 10px;
	}

	.form textarea {
		width: 328px;
		margin-bottom: 15px;
		padding: 5px 10px;
	}

	.form input[type="button"],
	.form input[type="submit"] {
		width: auto;
		padding: 5px 10px;
	}

#info-content {
	display: none;
}


/* =======================================
   ---------- LOGIN / REGISTER -----------
   ======================================= */


.default-form {
	padding: 50px 0;
	color: #091624;
	text-align: center;
}

	.default-form h1 {
		font-family: 'Cabin Condensed', sans-serif;
		font-size: 70px;
	}

	.default-form h3 {
		margin-bottom: 30px;
		font-family: 'Cabin Condensed', sans-serif;
		color: #091624;
		font-size: 18px;
	}

	.default-form .warning {
		display: inline-block;
		margin-bottom: 20px;
		padding: 5px 10px;
		border-radius: 8px;
		background: #000;
		color: #fff;
		font-size: 12px;
	}

	.default-form input {
		display: inline-block;
		width: 400px;
		margin: 5px 0 10px 0;
		padding: 12px 20px;
		border: 1px #d3d3d3 solid;
		background: #fafafa;
		font-size: 18px;
	}

	.default-form .with_hint {
		position: relative;
		display: inline-block;
	}

		.default-form .with_hint > .warning {
			display: block;
			min-width: 250px;
		}

	.default-form input.invalid {
		border: 1px #c15c5d solid;
		color: #c15c5d;
	}

	.default-form input:first-child {
		margin-top: 10px;
	}

	.default-form input[type=submit] {
		width: auto;
		background: #fff;
		color: #444;
	}

	.default-form input[type=submit]:hover {
		background: #eee;
	}