html, body, #map {
	margin: 0;
	width: 100%;
	height: 100%;
}

#panel {
	position: absolute;
	z-index: 1;
	left: 10px;
	top: 10px;
}

#panel > * {
	background-color: #88f;
	display: inline-block;
	margin-right: 10px;
	padding: 5px 15px;
	border: 2px solid #eee;
	text-decoration: none;
	font-size: 26px;
	color: #fff;
}

#panel > a {
	transitions: background-color .3s, color .3s;
	-webkit-transitions: background-color .3s, color .3s;
}

#panel > a:hover {
	background-color: #fff;
	color: #88f;
}

#add-form {
	background-color: #888;
	display: none;
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 100px;
	border: 2px solid #444;
	margin-left: -200px;
	width: 400px;
}

#add-form [name="text"] {
	width: 160px;
}