web/.htaccess
web/application/config/config.php
web/application/config/constants.php
web/application/config/database.php
web/assets/pics
mobile/.gradle
mobile/local.properties
mobile/.idea/workspace.xml
mobile/.idea/libraries
mobile/.DS_Store
mobile/build
